<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <variable name="Project" value="!!!PleaseChangeMe!!!"/> <!-- For example: MegaShop (it will be a part of log's filename) -->
  <variable name="AppID" value="SampleApplicationId"/> <!-- For example: DBWorker (it will be a part of log's filename) -->
  <variable name="basedir" value="d:/logs"/> <!-- The same as in log courier's settings -->
  <variable name="interval" value="Day"/>
  <variable name="logFilesCount" value="7"/>
  <variable name="ttl" value="0"/> <!-- Value in seconds after which altert will be fired if no more messages will arrive. Zero to ignore -->

  <!-- Be careful with this -->
  <variable name="fileTemplate" value="${basedir}/${Project}-${AppID}-log"/>
  <variable name="fileTemplateFallback" value="${basedir}/fallback/${Project}-${AppID}-log"/>
  <variable name="layout" value="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${Project}|${AppID}|${ttl}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>

  <targets  async="true">
    <target xsi:type="FallbackGroup" name="logfile" returnToFirstOnSuccess="true">
      <target name="logfileMain" xsi:type="File" fileName="${fileTemplate}.txt" archiveFileName="${fileTemplate}.{#}.txt" archiveEvery="${interval}" archiveNumbering="Rolling" maxArchiveFiles="${logFilesCount}" layout="${layout}" />
      <target name="logfileFallback" xsi:type="File" fileName="${fileTemplateFallback}.txt" archiveFileName="${fileTemplateFallback}.{#}.txt" archiveEvery="${interval}" archiveNumbering="Rolling" maxArchiveFiles="${logFilesCount}" layout="${layout}" />
    </target>
	<target name="console" xsi:type="Console"  layout="${layout}" />
  </targets>

  <!-- Feel free to modify -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
	<logger name="*" minLevel="Info" writeTo="console" />
  </rules>
</nlog>